## Template parameters:
## version - version string of the currently available UPM update

<section role="dialog" id="upm-confirm-dialog" class="aui-layer aui-dialog2 aui-dialog2-small" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">
            $i18n.getText("upm.update.self.skip.confirm.title")
        </h2>
    </header>
    <div class="aui-dialog2-content">
        <%- formats.format($js.i18nStringHtml("upm.update.self.skip.confirm"), version) %>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-primary confirm">
                $i18n.getText("upm.update.self.skip.confirm.action")
            </button>
            <button class="aui-button aui-button-link cancel">$i18n.getText("upm.confirm.cancel")</button>
        </div>
    </footer>
</section>
