
#set($requiresRefreshMessageHtml = $i18n.getText("upm.requiresRefresh.message"))

<section role="dialog" id="upm-refresh-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">
            $i18n.getText("upm.requiresRefresh.header")
        </h2>
    </header>
    <div class="aui-dialog2-content">
        <div class="refresh-message">$requiresRefreshMessageHtml</div>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-primary confirm">$i18n.getText("upm.requiresRefresh.refresh")</button>
        </div>
    </footer>
</section>
