<section role="dialog" id="upm-info-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <header class="aui-dialog2-header">
        <h2 class="aui-dialog2-header-main">
            $i18n.getText("upm.settingsPanel.errorTitle")
        </h2>
    </header>
    <div class="aui-dialog2-content">
        <p>
            $i18n.getText("upm.settingsPanel.error")
        </p>
    </div>
    <footer class="aui-dialog2-footer">
        <div class="aui-dialog2-footer-actions">
            <button class="aui-button aui-button-link cancel">$i18n.getText("upm.messages.close")</button>
        </div>
    </footer>
</section>
