## This template is just a place to keep i18n strings so they can be accessed from JS code
## (via the UpmStrings module).  Use this only if the string can't instead be part of
## some other template, or if you need to look up a value from a dynamically generated key.
##
## Since this file may be cached on a per-language basis via CDN, you must not use any
## Velocity variables to embed instance-dependent values like application name; any such
## values that need to be passed from the back end must be either put in a hidden field in
## a top-level Velocity template (upm-resources.vm), or requested via Ajax.  The strings in
## this file should just be literal strings (which may include message format placeholders).
##
## You do not need to do anything differently for strings that contain HTML markup.
##
## Please keep the entries in alphabetical order by i18n key.

#macro( i18nString $stringKey )
    <div id="$stringKey">$i18n.getText("$stringKey")</div>
#end

#i18nString("upm.auditLog.count")
#i18nString("upm.auditLog.error.invalid.maxEntries")
#i18nString("upm.auditLog.error.invalid.purgeAfter")
#i18nString("upm.auditLog.error.invalid.purgeAfter")
#i18nString("upm.auditLog.purge.error.greater.than.zero.message")
#i18nString("upm.auditLog.purge.error.message")
#i18nString("upm.auditLog.purge.error.message")
#i18nString("upm.auditLog.purge.error.title")
#i18nString("upm.auditLog.purge.error.title")
#i18nString("upm.auditLog.safeMode.enter.failure")
#i18nString("upm.auditLog.safeMode.enter.success")
#i18nString("upm.auditLog.safeMode.exit.failure")
#i18nString("upm.auditLog.safeMode.exit.success")
#i18nString("upm.baseurl.connection.error")
#i18nString("upm.check.license.error.feature.not.enabled")
#i18nString("upm.check.license.error.unknown")
#i18nString("upm.check.license.success.same.found")
#i18nString("upm.check.license.warning.downgrade.found")
#i18nString("upm.check.license.warning.none.found")
#i18nString("upm.disableall.error.disable.error")
#i18nString("upm.disableall.error.disable.failed")
#i18nString("upm.error.invalid.token")
#i18nString("upm.error.unauthorized")
#i18nString("upm.incompatible.plugins.singular")
#i18nString("upm.incompatible.plugins.plural")
#i18nString("upm.non_data_center_approved_apps.singular")
#i18nString("upm.non_data_center_approved_apps.plural")
#i18nString("upm.install.all.categories.dropdown")
#i18nString("upm.install.search.dropdown")
#i18nString("upm.install.upload.empty.error")
#i18nString("upm.license.token.generate.error")
#i18nString("upm.license.token.generate.success")
#i18nString("upm.license.token.max.capacity.reached.error")
#i18nString("upm.license.token.remove.success")
#i18nString("upm.license.token.update.success")
#i18nString("upm.log.description")
#i18nString("upm.log.description.singular")
#i18nString("upm.log.purgeDurationUpdated")
#i18nString("upm.log.purgeDurationUpdated.plural")
#i18nString("upm.manage.action.required.dropdown")
#i18nString("upm.manage.all.dropdown")
#i18nString("upm.manage.applications.dropdown")
#i18nString("upm.manage.paid.via.atlassian.dropdown")
#i18nString("upm.manage.user.installed.dropdown")
#i18nString("upm.manage.system.dropdown")
#i18nString("upm.messages.error.addon.activate.failed")
#i18nString("upm.messages.error.addon.activate.unexpected.failure")
#i18nString("upm.messages.error.addon.deactivate.unexpected.failure")
#i18nString("upm.messages.install.cannot.enable")
#i18nString("upm.messages.install.unloadable")
#i18nString("upm.messages.license.trial.unsubscribed")
#i18nString("upm.messages.module.disable.success")
#i18nString("upm.messages.module.enable.success")
#i18nString("upm.messages.plugin.update.request.success")
#i18nString("upm.messages.rating.saved")
#i18nString("upm.messages.request.dismiss.failure")
#i18nString("upm.messages.request.dismiss.success")
#i18nString("upm.messages.request.none")
#i18nString("upm.messages.safeMode.keepState.success")
#i18nString("upm.messages.safeMode.restore.success")
#i18nString("upm.messages.uninstall.success")
#i18nString("upm.messages.update.error")
#i18nString("upm.messages.update.success.heading")
#i18nString("upm.pac.connection.error")
#i18nString("upm.plugin.error.cannot.remove.embedded.license")
#i18nString("upm.plugin.error.failed.to.add.request")
#i18nString("upm.plugin.error.failed.to.disable")
#i18nString("upm.plugin.error.failed.to.enable")
#i18nString("upm.plugin.error.failed.to.enable.has.expired.license")
#i18nString("upm.plugin.error.failed.to.enable.no.license.entered")
#i18nString("upm.plugin.error.failed.to.remove.license")
#i18nString("upm.plugin.error.failed.to.remove.request")
#i18nString("upm.plugin.error.failed.to.update.license")
#i18nString("upm.plugin.error.invalid.upm.plugin.action")
#i18nString("upm.plugin.error.on.demand.disallowed.action")
#i18nString("upm.plugin.error.plugin.not.using.licensing")
#i18nString("upm.plugin.error.unexpected.error")
#i18nString("upm.plugin.license.error.disabled.after.postback")
#i18nString("upm.plugin.license.error.heading")
#i18nString("upm.plugin.license.error.invalid.license")
#i18nString("upm.plugin.license.error.invalid.postback")
#i18nString("upm.plugin.license.error.invalid.update")
#i18nString("upm.plugin.license.error.setting.empty.license")
#i18nString("upm.plugin.license.error.unauthenticated.postback")
#i18nString("upm.plugin.license.error.validation")
#i18nString("upm.plugin.license.notaware")
#i18nString("upm.plugin.module.unknown")
#i18nString("upm.plugin.modules.count.enabled")
#i18nString("upm.plugin.unknown")
#i18nString("upm.pluginDisable.error.plugin.is.bundled")
#i18nString("upm.pluginDisable.error.plugin.is.system")
#i18nString("upm.pluginInstall.error.access.denied")
#i18nString("upm.pluginInstall.error.descriptor.not.from.marketplace")
#i18nString("upm.pluginInstall.error.descriptor.not.valid")
#i18nString("upm.pluginInstall.error.install.failed")
#i18nString("upm.pluginInstall.error.install.failed.max_allowed_packet")
#i18nString("upm.pluginInstall.error.install.unpermitted")
#i18nString("upm.pluginInstall.error.invalid.relative.uri")
#i18nString("upm.pluginInstall.error.invalid.uri.syntax")
#i18nString("upm.pluginInstall.error.legacy.plugins.unsupported")
#i18nString("upm.pluginInstall.error.not.deployable")
#i18nString("upm.pluginInstall.error.not.licensed.to.be.updated")
#i18nString("upm.pluginInstall.error.response.exception")
#i18nString("upm.pluginInstall.error.safe.mode")
#i18nString("upm.pluginInstall.error.unknown.plugin.type")
#i18nString("upm.pluginInstall.error.unrecognised.plugin.version")
#i18nString("upm.pluginInstall.error.unsupported.protocol")
#i18nString("upm.pluginInstall.error.xml.plugins.unsupported")
#i18nString("upm.pluginModule.error.cannot.be.disabled")
#i18nString("upm.pluginModule.error.cannot.recognise.type")
#i18nString("upm.pluginModule.error.failed.to.disable")
#i18nString("upm.pluginModule.error.failed.to.enable")
#i18nString("upm.pluginUninstall.error.safe.mode")
#i18nString("upm.purchased.addons.check.error.auth")
#i18nString("upm.purchased.addons.check.error.unknown")
#i18nString("upm.safeMode.error.already.entered.safeMode")
#i18nString("upm.safeMode.error.already.exited.safeMode")
#i18nString("upm.safeMode.error.cannot.enter.precondition.not.met")
#i18nString("upm.safeMode.error.cannot.go.to.safe.mode")
#i18nString("upm.safeMode.error.cannot.restore.configuration")
#i18nString("upm.safeMode.error.cannot.restore.configuration.not.in.safe.mode")
#i18nString("upm.safeMode.error.cannot.save.configuration")
#i18nString("upm.update.error.downgrade")
#i18nString("upm.update.error.safe.mode")
#i18nString("upm.update.self.update.error")
